.App{
  font-family: "Poppins", sans-serif;
  color: #212121;

}

body {
  margin: 3rem;
}

/*nav styles have to use !important??? not good*/

nav.navbar {
  padding: 10px 50px;
}

.nav-link:hover {
  color:  #F36917 !important;
  
}

/* main title styles */

.title {
  background-color: rgb(234, 234, 234);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.title h1, h2 {
  font-size: 50px;
  font-weight: bold;
}

.card-title.h5 {
  text-align: center;
  color: #212121;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 30px;
 
}

/* quote styles */
.quoteBubble {
  background-color: #F0F0F0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  font-style: italic;
  text-align: center;
}

.quoteBubble p {
  margin: 0;
}

.quoteBubble .card-subtitle {
  margin-top: 10px;
  font-weight: bold;
}

/* Degree Styles */
.accordion {
  margin:  5rem;
}

/* Custom styles for Accordion */
.custom-accordion .accordion-button:not(.collapsed) {
  background-color: #212121;
  color:  #fff;
}

.accordion-button:not(.collapsed)::after {
  color: #fff;
}
.accordion-body {
  background-color: #fff;
}

/* People Styles */

.people {
  margin: 3rem;
}

.peopleTitle {
  text-align: center;
  font-weight: bold;;
}

div.peopleTitle > h3{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.peopleList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.peopleListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  width: 200px;
}

.peopleListItem img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.peopleListItem div {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.PeopleModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: scroll;
}

.PeopleModal img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.PeopleModal h6 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.PeopleModal h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}














